body {
  background-color: black;
}
html, body {
  margin: 0; height: 100%; overflow: hidden
}
@font-face {
  font-family: AUTHENTIC Sans;
  src: url(AUTHENTIC-Sans.otf);
  font-weight: regular;
}
@font-face {
  font-family: Favorite Song;
  src: url(Favorite-Song-Regular.otf);
  font-weight: regular;
}
@font-face {
  font-family: Favorite Song;
  src: url(Favorite-Song-Italic.otf);
  font-weight: regular;
  font-style: italic;
}
.area {
  float: left;
  margin-top: 0px;
  margin-left: 10px;
  width: 100%;
  position: relative;
}
.next {
  //float: right;
  width: 4vw;
  max-width: 100px;
  height: 100%;
  background: #C4C4C4;
  position: absolute;
  right: 0px;
  cursor: pointer;
}
.next:hover {
  background: var(--blue);
}
.svgs {
  width: 98vw;
  //margin: auto;
  display: absolute;
  top: 0px;
  max-height: 100vh;
}
.continue {
  transform: rotate(90deg);
  position: relative;
  top: 45vh;
  right: 26.3vw;
  width: 100vh;
  margin: 0px;
  cursor: pointer;
}
p {
  font-family: "AUTHENTIC Sans", sans-serif;
  font-weight: regular;
  color: black;
  font-size: 2.8vw;
  line-height: 1.2vw;
  margin: 0px;
  hyphens: auto;
  text-align: center;
}

:root {
  --red: #DC0501;
  --blue: #01acb7;
}
