body {
  background-color: black;
}
html, body {
  margin: 0; height: 100%; overflow: hidden
}
@font-face {
  font-family: AUTHENTIC Sans;
  src: url(AUTHENTIC-Sans.otf);
  font-weight: regular;
}
@font-face {
  font-family: Favorite Song;
  src: url(Favorite-Song-Regular.otf);
  font-weight: regular;
}
@font-face {
  font-family: Favorite Song;
  src: url(Favorite-Song-Italic.otf);
  font-weight: regular;
  font-style: italic;
}
.area {
  float: left;
  margin-top: 25px;
  margin-left: 30px;
  width: 100%;
  position: relative;
}
.next {
  //float: right;
  width: 4vw;
  max-width: 100px;
  height: 100%;
  background: #C4C4C4;
  position: absolute;
  right: 0px;
  cursor: pointer;
}
.next:hover {
  background: var(--blue);
}
.svgs {
  width: 98vw;
  //margin: auto;
  display: block;
  max-height: 98vh;
}

:root {
  --red: #DC0501;
  --blue: #01acb7;
}
